
<div class="card">
    <div class="card-header">
        <button type="button" class="btn waves-effect waves-light btn-info">
            <i class="fa fa-plus"></i>
            Nuevo
        </button>
    </div>

    <div class="card-body">
       <div class="table-responsive">
           <table class="table color-table info-table">
                <thead>
                    <tr>
                        <th>#</th>
                         <th style="width: 400px;">Nombre</th>
                         <th>Descripcion</th>
                         <th>Estado</th>
                         <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Nigam</td>
                        <td>Eichmann</td>
                        <td>
                            <span class="label label-table label-success">Active</span>
                        </td>
                        <td>
                            <button class="btn mr-3 waves-effect waves-light btn-rounded btn-outline-info" title="Editar">
                                <i class="fa fa-pencil"></i>
                            </button>

                            <button class="btn waves-effect waves-light btn-rounded btn-outline-danger" title="Eliminar">
                                <i class="fa fa-trash"></i> 
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Nigam</td>
                        <td>Eichmann</td>
                        <td>
                            <span class="label label-table label-danger">Inactivo</span>
                        </td>
                        <td>
                            <button class="btn mr-3 waves-effect waves-light btn-rounded btn-outline-info">
                                <i class="fa fa-pencil"></i>
                            </button>

                            <button class="btn waves-effect waves-light btn-rounded btn-outline-danger">
                                <i class="fa fa-trash"></i> 
                            </button>
                        </td>
                    </tr>
                </tbody>
           </table>
       </div>
    </div>
</div>